@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$roboto: "Roboto", serif;
body {
    // background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 15px;

    .input-label {
        font-size: 12px;
        color: #2b3c5e;
        opacity: 0.7;
    }

    h6 {
        font-size: 15px;
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.card-login-group {
    border-radius: 12px;
}

.card-login-info {
    background-color: $netis-primary;
    color: #fff;
    border: none;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-image: url('../assets/login-icon.svg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
}

.card-login-form{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: none;
    @include media-breakpoint-down(md){
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }
}

.react-datepicker-component {
    .react-datepicker-input {
        min-width: 0 !important;
        input {
            font-size: 0.875rem !important;
            font-weight: 400 !important;
            line-height: 1.5;
            color: #5c6873 !important;
            background: #fff !important;
            padding-right: 32px !important;
            background-clip: padding-box;
            border: 1px solid #e4e7ea;
        }
    }
}

.my-custom-datepicker-component .react-datepicker-input.has-value c {
    padding-right: 32px;
}

.my-custom-datepicker-component.is-invalid .react-datepicker-input {
    border: 1px solid #dc3545;
}

.dropdown-profile {
    .dropdown-profile-header {
        background: $netis-primary;
        border-color: $netis-primary;
        color: color-yiq($netis-primary);
    }
}
.app-header {
    border: 0;
    box-shadow: 1px 3px 20px 8px rgba(115, 124, 158, 0.1);

    .navbar-brand {
        width: 250px;
    }
    .navbar-nav {
        width: 150px;
        padding-right: 15px;
        @include media-breakpoint-up(md) {
            padding-right: 30px;
        }
    }
    .nav-item {
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        .nav-link .img-avatar {
            width: 35px;
        }
    }
}

.modal-rounded {
    border-radius: 15px;
    .modal-content {
        border-radius: 15px;
    }
}

.page-content {
    width: 95%;
    @include media-breakpoint-up(md){
        width: 85%;
    }
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    .card {
        border-radius: 15px;
    }
}

.page-content-large {
    width: 100%;
    @include media-breakpoint-up(md){
        width: 95%;
    }
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    .card {
        border-radius: 15px;
    }
}

.countdown-fixed {
    visibility: visible;
    position: fixed;
    z-index: 99;
    right: 25px;
    top: 70px;
    -webkit-animation: fadeinFixed 1s, fadeoutFixed 1s 10s;
    animation: fadeinFixed 1s, fadeoutFixed 1s 10s;
}

@-webkit-keyframes fadeinFixed {
    from {top: 0; opacity: 0;}
    to {top: 70px; opacity: 1;}
}

@keyframes fadeinFixed {
    from {top: 0; opacity: 0;}
    to {top: 70px; opacity: 1;}
}

@-webkit-keyframes fadeoutFixed {
    from {top: 70px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeoutFixed {
    from {top: 70px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

.loading {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner-loading {
    text-align: center;
    .spinner-grow {
        width: 15rem;
        height: 15rem;
    }
}

.test-page {
    // width: 95vw;
    // margin-left: auto;
    // margin-right: auto;
    font-size: 1rem;
    // position: relative;

    .btn-hint {
        position: fixed;
        bottom: 35px;
        left: 35px;
        background-color: transparent;
        border: 0px;
    }
    .btn-hint-small {
        position: fixed;
        bottom: 20px;
        left: 20px;
        background-color: transparent;
        border: 0px;
    }
}

.modal-hint {
    .modal-content {
        border-radius: 20px;
    }
}

.fixed-options {
    visibility: visible;
    position: fixed;
    z-index: 99;
    right: 25px;
    top: 70px;
    background-color: #fff;
    border-radius: 15px;
    border: 1px solid #000;
    height: 80vh;
    width: 150px;
}

.input_test {
    input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #353333;
        border-radius: 0px;
    }
}

.logout-icon:hover {
    color: $netis-primary;
}

.error-reload:hover {
    cursor: pointer;
    text-decoration: underline;
}